autopep8
coverage
feedparser
flask
jinja2
jupyter_sphinx
jyquickhelper
Pillow
pyensae
pycodestyle
pylint>=2.14.0
pymyinstall
pyquickhelper>=1.10
pyquicksetup>=0.2
sphinx
sphinxcontrib.imagesvg
sphinx_gallery
wheel
