html,body{font-family:"Calibri","Hiragino Kaku Gothic ProN","Hiragino Kaku Gothic Pro","Meiryo","メイリオ","ＭＳ ゴシック",sans-serif;color:#002b36;background-color:#fefefe;height:100%}
h1,h2,h3,h4,h5{font-family:"Calibri","Hiragino Kaku Gothic ProN","Hiragino Kaku Gothic Pro","Meiryo","メイリオ","ＭＳ ゴシック",sans-serif;font-weight:lighter;text-align:left;}
