<?xml version="1.0" encoding="utf-8"?>
<html>
<head>
<link type="text/css" href="/rss_reader.css" rel="stylesheet"/>
<title>RSS reader</title>
<meta content="dupre, RSS, reader, pyrsslocal" name="keywords"/>
<meta content="text/html; charset=utf-8" http-equiv="Content-Type"/>
<link rel="shortcut icon" href="pyrsslocal.ico" />
<meta content="" name="description" />
<script src="/js/run_prettify.js" type="text/javascript"></script>
<script type="text/javascript" src="/rsslocal.js"></script>

</head>
<body>
<h1>RSS Reader Error</h1>
<p>
An error has occurred.
</p>
<p>
{{error}}
</p>
</body>
</html>
